.banner {
    position: relative;
    &__img img {
        width: 100%;
        max-height: 598px;
    }
    &__content {
        position: relative;
    }
    &__container {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translateX(-50%);
        padding-left: 10%;
    }
    &__phone {
        color: #845522;
        display: flex;
        .text {
            font-family: "UTM";
        }
    }
}
