.bannerAdv {
    background: #fff9ec;
    padding: 25px 0 60px;
    &__container {
    }
    &__item {
        padding: 0px 46px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--top {
            position: relative;
            display: inline-block;
            max-width: 180px;
            height: 207px;

            .bannerAdv__text {
                color: #ffd7ab;
                font-size: 180px;
                font-weight: 700;
                font-family: "Time";
                line-height: 206px;
            }
            img {
                position: absolute;
                bottom: 10px;
                left: 50%;
                transform: translateX(-50%);
                object-fit: cover;
                max-width: 136px;
                height: 114px;
            }
        }
        &--bottom {
            text-align: center;
            .bannerAdv__name {
                color: #845522;
                margin-bottom: 9px;
                font-weight: 900;
            }
        }
    }
}

@include maxWidth(768px) {
    .bannerAdv {
        &__item {
            &--top {
                img {
                    height: 90px;
                }
                .bannerAdv__text {
                    font-size: 150px;
                }
            }
        }
    }
}
