.banner {
    position: relative;
    &__img img {
        width: 100%;
        max-height: 598px;
    }
    &__content {
        position: relative;
    }
    &__container {
        position: absolute;
        top: 60%;
        left: 20%;
        // padding-left: 10%;
    }
    &__phone {
        color: #845522;
        display: inline-flex;
        align-items: center;
        padding: 10px 20px;
        background: linear-gradient(180deg, #f4d593 0%, #f8972e 100%);
        border-radius: 50px;
        .icon {
            margin-right: 15px;
            font-size: 24px;
        }
        .text {
            font-family: "UTM";
            font-size: 36px;
            line-height: 53px;
        }
    }
}

@include maxWidth(768px) {
    .banner {
        &__phone {
            .icon {
                font-size: 14px;
            }
            .text {
                font-size: 18px;
            }
        }
    }
}
