.feedback {
    height: 500px;
    background: linear-gradient(180deg, #f4d593 0%, #f8972e 100%);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    clip-path: polygon(49% 11%, 100% 0, 99% 90%, 48% 100%, 48% 100%, 0 90%, 0 0);
    &__container {
    }
}
