.feedback {
    padding-bottom: 90px;
    padding-top: 100px;
    background-image: url("../img/feedback/Rectangle\ 8\ \(5\).png");
    background-repeat: no-repeat;
    background-size: cover;
    &__heading {
        text-align: center;
        text-transform: uppercase;
        font-size: 18px;
        color: #845522;
    }
    &__title {
        text-align: center;
        text-transform: uppercase;
        font-size: 36px;
        color: #845522;
        font-family: "UTM";
        // margin-bottom: 70px;
    }
    &__list {
        // padding-top: 70px;
    }
    &__item {
        padding: 0 44px;
    }
    // &__list .slick-list {
    //     margin: 0 -44px;
    // }
}
