.footer {
    background: #333333;
    padding-top: 50px;
    color: #fff;
    .title {
        text-transform: uppercase;
        font-family: "UTM";
        font-size: 18px;
    }
    &__item {
        display: flex;
        i {
            margin-right: 20px;
        }
    }
}
