.footer {
    background: #333333;
    padding-top: 50px;
    color: #fff;
    .title {
        text-transform: uppercase;
        font-family: "UTM";
        font-size: 18px;
        margin-bottom: 27px;
    }
    &__item {
        display: flex;
        margin-bottom: 25px;
        .home {
            margin-right: 20px;
            font-size: 19px;
            color: #f8972e;
        }
        .phone {
            margin-right: 20px;
            font-size: 22px;
            color: #f8972e;
            transform: rotate(45deg);
        }
    }
    .info .name {
        font-weight: 700;
        font-size: 14px;
    }
}
