@font-face {
    font-family: "UTM";
    font-display: swap;
    src: url("../fonts/word/UTM\ HelvetIns.ttf") format("truetype");
}
@font-face {
    font-family: "Time";
    font-display: swap;
    src: url("../fonts/word/timesbd.ttf") format("truetype");
}
@font-face {
    font-family: "iCielBeCool";
    font-display: swap;
    src: url("../fonts/word/iCielBeCool-Regular.otf") format("truetype");
}
body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
    color: $text-color;
}
.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

@keyframes shine {
    0% {
        left: -75%;
    }
    50% {
        left: 100%;
    }
    100% {
        // left: -75%;
    }
}
@keyframes gyrate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes move {
    0% {
        right: 0;
    }
    50% {
        right: 10px;
    }
    100% {
        right: 0;
    }
}
