.introduce {
    &__container {
    }
    &__item {
        position: relative;
        &--top {
            .text {
                color: #ffd7ab;
            }
            img {
                position: absolute;
            }
        }
    }
}
