.news {
    padding-top: 40px;
    &__heading {
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
    }
    &__title {
        text-transform: uppercase;
        text-align: center;
        font-family: "UTM";
        font-size: 36px;
        color: #f8972e;
        margin-bottom: 30px;
    }
}
