.photoLibrary {
    &__title {
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
    }
    &__name {
        font-size: 36px;
        font-family: "UTM";
        color: $color-global;
    }
}
