.service {
}
.serviceOne {
    &__right {
        padding: 0 40px;
        position: relative;
    }
    &__img--top {
        position: absolute;
        top: 0;
        img {
            border: 20px solid #fff;
        }
    }
    &__img--bottom {
        position: absolute;
    }
}
