.service {
    &__title {
        text-transform: uppercase;
        font-size: 18px;
    }
    &__name {
        text-transform: uppercase;
        font-size: 36px;
        color: $color-global;
        font-family: "UTM";
        font-weight: 400;
        line-height: 52px;
    }
    &__text {
        text-align: justify;
        margin-bottom: 30px;
    }
    &__btn {
        position: relative;
        padding: 0;
        a {
            padding: 15px 28px 11px 28px;
            background: linear-gradient(180deg, #f4d593 0%, #f8972e 100%);
            border-radius: 50px;
            text-transform: uppercase;
            color: #fff;
            font-weight: 500;
            box-shadow: 0 3px 0px rgba($color: #c2611c, $alpha: 1);
        }
        &--img {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translateX(50%);
        }
    }
}
.serviceOne {
    padding: 80px 0;
    &__left {
        padding: 30px;
    }
    &__right {
        padding: 0 40px;
        position: relative;
    }
    .bigCircle__img img {
        width: 100%;
    }
    &__img--top {
        position: absolute;
        top: -28px;
        // left: 0;
        padding: 20px;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
        transform: rotate(4.47deg);
        border-radius: 20px;
        background: #fff;
        img {
            max-width: 326px;
            max-height: 258px;
            // object-fit: cover;
        }
    }
    &__img--bottom {
        position: absolute;
        bottom: -10px;
        right: 70px;
        padding: 20px;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
        transform: rotate(-7.32deg);
        border-radius: 20px;
        background: #fff;
        img {
            width: 326px;
            height: 258px;
        }
    }
}
.serviceTwo {
    background: #fdf5f0;
    padding-top: 50px;
    padding-bottom: 60px;
    &__container {
        position: relative;
    }
    img {
        position: absolute;
    }
    &__bg--img1 {
        top: 0;
        left: -80px;
    }
    &__bg--img2 {
        bottom: 0;
        left: -100px;
    }
    &__bg--img3 {
        right: -80px;
        top: 50%;
        transform: translateY(-50%);
    }
    &__initial {
        padding: 0 30px;
    }
    &__middle {
        padding: 0 20px;
    }
    &__img {
        // max-width: 100%;
        height: 504px;
        img {
            max-width: 100%;
            height: 100%;
            // object-fit: cover;
        }
    }
    &__end {
        .list {
            // width: 273px;
        }
        .item {
            display: flex;
            height: 100px;
            margin-bottom: 15px;
            .icon {
                width: 42px;
                height: 42px;
                border-radius: 50%;
                background: $color-global;
                margin-right: 18px;
                flex-shrink: 0;
                position: relative;
                i {
                    color: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-right: 50px;
                .name {
                    font-size: 18px;
                    font-weight: 700;
                    color: $color-global;
                    text-transform: uppercase;
                }
                .des {
                    color: #7f808c;
                }
            }
        }
    }
}
.serviceThree {
    .serviceThree__top--left {
        position: relative;
        .img__top {
            max-width: 337px;
            height: 271px;
            position: absolute;
            right: 30px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 30px;
            }
        }
        .img__end {
            // padding: 20px;
            position: absolute;
            top: 50%;
            right: 0;
            img {
                max-width: 284px;
                height: 286px;
                background: #fff;
                filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
                border-radius: 20px;
                border: 20px solid #fff;
            }
        }
    }
}
