.service {
}
.serviceOne {
    &__right {
        padding: 0 42px;
        .bigCircle {
            width: 100%;
            height: auto;
            border: 2px dashed #cccccc;
            box-sizing: border-box;
        }
    }
}
