.service {
    &__title {
        text-transform: uppercase;
        font-size: 18px;
    }
    &__name {
        text-transform: uppercase;
        font-size: 36px;
        color: $color-global;
    }
}
.serviceOne {
    &__right {
        padding: 0 40px;
        position: relative;
    }
    &__img--top {
        position: absolute;
        top: -28px;
        // left: 0;
        padding: 20px;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
        transform: rotate(4.47deg);
        border-radius: 20px;
        background: #fff;
        img {
            width: 326px;
            height: 258px;
            // object-fit: cover;
        }
    }
    &__img--bottom {
        position: absolute;
        bottom: -20px;
        right: 70px;
        padding: 20px;
        filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
        transform: rotate(-7.32deg);
        border-radius: 20px;
        background: #fff;
        img {
            width: 326px;
            height: 258px;
        }
    }
}
