.subscribe {
    padding: 30px;

    &__bg {
        background-image: url("../img/subscribe.png");
        background-repeat: no-repeat;
        border-radius: border-radius: 30px;;
        background-size: 100%;
        width: 100%;
        height: 500px;
    }
}
