.topbar {
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        img {
            width: 229px;
            height: 84px;
            object-fit: cover;
        }
    }
    &__openTime {
        color: #424242;
        text-align: right;
        .openTime__text {
            font-size: 14px;
            font-weight: 400;
        }
        .openTime__time {
            font-weight: 700;
        }
    }
    &__seach {
        position: relative;
        input {
            width: 340px;
            max-width: 340px;
            background: #f1f2f2;
            padding: 12px 16px;
            font-size: 14px;
            color: #7f808c;
            border: none;
            border-radius: 101px;
        }
        .button__seach {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            border: none;
            width: 36px;
            height: 40px;
            border-radius: 0px 101px 101px 0px;
            background: $color-global;
            i {
                font-size: 15px;
                color: #fff;
            }
        }
    }
    &__hotline {
        background: linear-gradient(180deg, #f4d593 0%, #f8972e 100%);
        border-radius: 50px;
        padding: 6px 24px;
        display: flex;
        .hotline__icon {
            display: flex;
            align-items: center;
            margin-right: 9px;
        }
        .hotline__text {
            p {
                margin-bottom: 0;
                color: #fff;
            }
            &--top {
                font-size: 14px;
                font-weight: 400;
            }
            &--bottom {
                font-weight: 700;
            }
        }
    }
    &__book {
        display: flex;
        align-items: center;
        padding: 17px 31px;
        &__icon {
        }
    }
}
